flow.json
[
    {
        "id": "bf54f31e9d3126f0",
        "type": "inject",
        "z": "19f4a1d7164b8cc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"nasir\",\"age\":\"360\"}",
        "payloadType": "json",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "91b25479d801593e"
            ]
        ]
    },
    {
        "id": "91b25479d801593e",
        "type": "condition-task",
        "z": "19f4a1d7164b8cc4",
        "name": "",
        "conditions": [
            "[object Object]",
            "[object Object]"
        ],
        "temp": [
            {
                "property": "age",
                "operator": "==",
                "parameter": "16"
            },
            {
                "property": "name",
                "operator": "==",
                "parameter": "haider"
            }
        ],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "ee24e0b6e9bf1247"
            ],
            [
                "05ca677cb17ead68"
            ],
            [
                "243cf28eb8de3de1"
            ]
        ]
    },
    {
        "id": "8573519a639a772b",
        "type": "debug",
        "z": "19f4a1d7164b8cc4",
        "name": "ALL TRUE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "ee82d55d5e5405d2",
        "type": "debug",
        "z": "19f4a1d7164b8cc4",
        "name": "ONE TRUE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "b5296835814c7a0f",
        "type": "debug",
        "z": "19f4a1d7164b8cc4",
        "name": "FALSE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "05ca677cb17ead68",
        "type": "template",
        "z": "19f4a1d7164b8cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Only one condition match: Name: {{payload.name}}, Age: {{payload.age}}",
        "output": "str",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "ee82d55d5e5405d2"
            ]
        ]
    },
    {
        "id": "243cf28eb8de3de1",
        "type": "template",
        "z": "19f4a1d7164b8cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "NO condition match: Name: {{payload.name}}, Age: {{payload.age}}",
        "output": "str",
        "x": 520,
        "y": 280,
        "wires": [
            [
                "b5296835814c7a0f"
            ]
        ]
    },
    {
        "id": "ee24e0b6e9bf1247",
        "type": "template",
        "z": "19f4a1d7164b8cc4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "All condition match: Name: {{payload.name}}, Age: {{payload.age}}",
        "output": "str",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "8573519a639a772b"
            ]
        ]
    }
]